/*
STYLE GUIDE STYLING 
Default styling for the style guide 
*/

body {
    font-family: 'Archivo Narrow', sans-serif;
    padding: 2rem;
    background-color: #eaf1f7;

}

section:not([id]) {
    margin: 1em 0;
    padding: 0.5em 0;
    border-top: 0.15em solid #333;
}

section[id]:first-of-type {
    margin-top: 5rem;
}

section h3 {
    margin-bottom: 0;
}

section p {
    margin-top: 0;
}

nav a:hover,
nav a:focus {
    text-decoration: none;
}

section code {
    background-color: #EEE;
    padding: 0.5em 0.75em;
    display: block;
}


/* 
INTERACTIVE ELEMENTS -------------------
*/

/* Styling for in-text link */

.in-text-link {
    text-decoration: none;
    color: #3057D5;
    transition: color 0.5s;
}

.in-text-link:hover {
    color: #899da3;
    font-weight: 700;
}


/* Styling for the navigation button */

nav{
    background-color: white;
}

nav ul {
    padding: 0;
    margin: 0;
}

nav li {
    display: inline-block;
    margin: 0;
    background: white;
    padding: 1rem;
}

.button-nav {
    display: inline-block;
    position: relative;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    text-align: center;
    text-decoration: none;
    color: black;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    padding: 0;
}

.button-nav:hover{
    font-weight: 600;
    color: #3a5ba9;
}

.button-nav:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -0.25rem;
    border-bottom: 2px solid #3a5ba9;
}


/* Styling for cta buttons */

.cta-button {
    position: relative;
    display: inline-block;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    padding: 0.5rem;
    color: #3057D5;
    border: 2px solid #3057D5;
}

.cta-button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #3057D5;
    transition: height 0.5s;
}

.cta-button:hover {
    color: #fff;
}

.cta-button:hover:after {
    top: 0;
    height: 100%;
}

/* Styling for text input field */

.input-field-label {
    display: block;
    font-weight: 700;
    margin-bottom: 0.25rem;
}

#text-input-field {
    display: block;
    font-size: 1rem;
    padding: 0.15rem;
    border: 1px solid;
    color: #899da3;
}


/* 
TEXT ELEMENTS -------------------
*/

/* Styling for heading levels */

h1 {
    font-size: 4rem;
    color: #3a5ba9;
}

h2 {
    font-size: 2.75rem;
    color: #3a5ba9;
}

h3 {
    font-size: 1.75rem;
    color: #3a5ba9;
    font-weight: 100;
}

/* Styling for bulleted lists */

ul {
    list-style: square;
    -webkit-padding-start: 1.25rem;
}

/* 
COMBINED ELEMENTS -------------------
*/

/* Styling for main nav */

#main-nav,
#main-nav ul {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    background: #3057D5;
}

#main-nav li {
    flex: 1 1 auto;
    text-align: center;
}

#main-nav li:nth-child(4) {
    flex: 50 0 auto;
    font-size: 1.75rem;
}

#main-nav nav li:nth-child(4) {
    border: none;
}

/* Website grid */

.grid-wrapper {
    display: inline-flex;
    width: 100%;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

.column-1-of-4 {
    flex: 0 1 22%;
    margin-right: 2rem;
}

.col-1-of-2 {
    -webkit-flex: 1 1 40%;
    -ms-flex: 1 1 40%;
    flex: 1 1 40%;
    margin: 0 2rem
}

.placeholder {
    display: block;
    width: 100%;
    border: 1px solid black;
}


/* Color swatches */

.colour-swatch {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    border: 1px solid #899da3;
}

#black {
    background-color: black;
}

#super-dark-grey {
    background-color: #102c34;
}

#mid-grey {
    background-color: #899da3;
}

#light-grey {
    background-color: #eaf1f7;
}

#white {
    background-color: white;
}

#dull-blue {
    background-color: #4B83AD;
}

#vivid-blue {
    background-color: #3057D5;
}

/* Citations styling */

#citations p {
    line-height: 2rem;
}
