/*
STYLE GUIDE STYLING 
Default styling for the style guide 
*/

body {
    font-family: 'Roboto Mono', monospace;
    padding: 2rem;
    font-weight: 400;
    background: #eaf1f7;
}

p, ul {
    font-size: 0.75rem;
    line-height: 1.5rem;
}

p:not(:first-child) {
    margin-top: 1.5rem;
}

section:not([id]) {
    margin: 1em 0;
    padding: 0.5em 0;
    border-top: 0.15em solid #333;
}

section[id]:first-of-type {
    margin-top: 5rem;
}

section:nth-child(2) {
    margin-top: -1rem;
}

section p {
    margin-top: 0;
}

section .content {
    margin: 1rem 7rem 0;
}

nav a:hover,
nav a:focus {
    text-decoration: none;
}

section code {
    background-color: #EEE;
    padding: 0.5em 0.75em;
    display: block;
}


/* 
INTERACTIVE ELEMENTS -------------------
*/

/* Styling for in-text link */

.in-text-link {
    font-size: 0.75rem;
    text-decoration: none;
    color: #3057D5;
    transition: color 0.5s;
}

.in-text-link:hover {
    color: #899da3;
    font-weight: 700;
}


/* Styling for the navigation button */

nav ul {
    margin: 0 1.5rem;
    padding: 0;
}

#main-nav nav li:nth-child(4) {
    font-size: 1.75rem;
}

.button-nav {
    display: inline-block;
    position: relative;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 0.0625rem;
    text-align: center;
    text-decoration: none;
    color: white;
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;
    padding: 0;
}

.button-nav:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -0.25rem;
    border-bottom: 2px solid white;
}

#main-nav li:nth-child(4) .button-nav:hover:before {
    border: none;
}

nav img {
    width: 1.5rem;
}

/* mobile nav */

/* Styling for Product Information Accordian */

code span {
    display: block;
    height: 1rem;
}

.product-info-accordion {
    font-family: 'Roboto Mono', monospace;
    background-color: #899da3;
    color: white;
    cursor: pointer;
    height: 2.75rem;
    padding: 1rem;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 1rem;
    text-transform: uppercase;
    transition: color 0.75s, background-color 0.75s;
}

.active,
.product-info-accordion:hover {
    background-color: #3057D5;
}

.product-info-accordion:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
}

.active:after {
    content: "\2212";
}

.product-info-panel {
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.product-overview .product-info-panel p {
    padding: 1rem 0 1rem 3rem;
    margin: 0;
    border-bottom: 1px solid #102c34;
    display: flex;
    position: relative;
}

.product-info-panel p span:last-child {
    position: absolute;
    left: 70%;
}


/* Styling for cta buttons */

.cta-button {
    position: relative;
    display: inline-block;
    min-width: 9rem;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    padding: 0.5rem;
    text-align: center;
    color: #3057D5;
    border: 2px solid #3057D5;
}

.cta-button:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background: #3057D5;
    transition: height 0.5s;
}

.cta-button:hover {
    color: #fff;
}

.cta-button:hover:after {
    top: 0;
    height: 100%;
}

.see-more-button {
    display: block;
    position: relative;
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 10rem;
    border: 2px white solid;
    margin: 0 auto;
    z-index: 1;
}

.see-more-button img {
    position: absolute;
    width: 1rem;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.see-more-button:hover {
    background: #3057D5;
    transition: background 0.5s;
}

.jump-down-button {
    position: absolute;
    bottom: 10%;
    left: 0;
    right: 0;
}

/* Styling for text input field */

.input-field-label {
    display: block;
    font-weight: 700;
    margin: 1rem 0;
}

.text-input-field {
    display: block;
    font-size: 1rem;
    padding: 0.5rem;
    border: 1px solid black;
    color: #899da3;
    font-style: italic;
    margin-bottom: 2rem;
}

.select-field {
    display: block;
    width: 100%;
    font-size: 1rem;
    height: 2.25rem;
    border: 1px solid black;
    color: black;
}

label,
input,
select {
    display: block;
    border-radius: 0;
}

.cta-button input {
    display: inline-block;
    min-width: 9rem;
    font-weight: 700;
    letter-spacing: 0.0625rem;
    text-align: center;
    background: none;
    padding: 0.5rem;
    border: none;
    color: #3057D5;
}

.cta-button input:hover {
    color: white;
}

/* 
TEXT ELEMENTS -------------------
*/

/* Styling for heading levels */

h1 {
    font-size: 3rem;
    font-weight: 500;
    color: white;
}

h2 {
    font-size: 2.5rem;
    color: #3057D5;
}

h3 {
    font-size: 2rem;
    color: #102c34;
    font-weight: 100;
    margin-bottom: 0;
}

h4 {
    font-size: 1.5625rem;
    color: #102c34;
    margin: 0;
    font-weight: bold;
}

.banner-header-underline {
    display: block;
    width: 6rem;
    height: 0.25rem;
    background-color: white;
}

.header-underline {
    display: block;
    position: relative;
    background: #3057D5;
    height: 0.25rem;
    width: 6rem;
    top: -1.5rem;
}

/* Styling for bulleted lists */

ul {
    list-style: square;
    -webkit-padding-start: 1.25rem;
}

/* 
COMBINED ELEMENTS -------------------
*/

/* Styling for main nav */

nav ul {
    margin: 0 1.5rem;
    padding: 0;
    list-style: none;
}

#main-nav nav li:nth-child(4) {
    font-size: 1.75rem;
}

#main-nav img{
    width: 5rem;
}

.button-nav:hover:before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -0.25rem;
    border-bottom: 2px solid white;
}

#main-nav li:nth-child(4) .button-nav:hover:before {
    border: none;
}

nav img {
    width: 1.5rem;
}

#main-nav,
#main-nav ul, nav, nav ul {
    position: relative;
    display: inline-flex;
    width: 100%;
    height: 5rem;
    align-items: center;
    z-index: 9;
    background: #3057D5;
}

#main-nav ul{
    list-style: none;
}

#main-nav li, nav li {
    flex: 1 1 auto;
    justify-content: space-around;
    margin-right: 1rem;
}

#main-nav li:nth-child(1) {
    flex: 1 1 40%;
    align-items: flex-start;
}

#main-nav li:nth-child(6) {
    margin-right: 4rem;
    flex-grow: 0;
}

#mobile-nav {
    display: none;
}

#mobile-nav img{
    width: 5rem;
}

/* animated search */

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

/*Search Bar Base*/

input[type=search] {
    background: transparent url(../img/icons/magnifying-glass-icon.svg) no-repeat 9px center;
    background-size: 12%;
    background-position: center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    border-radius: 10em;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #3057D5;
    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}


/* Search Icon*/

#search-icon input[type=search] {
    width: 8rem;
    padding-left: 0.8rem;
    color: transparent;
    cursor: pointer;
    border-color: transparent;
}

#search-icon input[type=search]:hover {
    background-color: transparent;
    background: transparent url(../img/icons/magnifying-glass-icon-vividblue.svg) no-repeat 9px center;
    background-size: 10%;
    background-position: center;
}

#search-icon input[type=search]:focus {
    background: transparent url(../img/icons/magnifying-glass-icon-vividblue.svg) no-repeat 9px center;
    background-size: 10%;
    background-position: 5% 50%;
    width: 8rem;
    padding-left: 2rem;
    color: #000;
    background-color: white;
    cursor: auto;
}

/* Styling for product listing */

.product-listing {
    display: block;
}

.product-listing .panel-wrapper {
    transition: background 0.5s;
    display: block;
    width: 100%;
    height: 100%;
}

.product-listing img {
    width: 100%;
    opacity: 0.25;
    transition: opacity 0.5s;
}

.product-listing .panel-wrapper:hover {
    background: #eaf1f7;
}

.product-detail {
    display: inline-flex;
    width: 100%;
}

.product-detail h3,
.product-detail p {
    flex: 1 0 auto;
    color: white;
    font-weight: 700;
    position: absolute;
    left: 0rem;
    margin: auto;
    text-align: center;
    width: max-content;
    height: fit-content;
    text-shadow: 2px 2px #102c34;
}

.product-detail h3 {
    top: 0rem;
}

.product-detail p {
    top: 2.5rem;
}

/* Website grid */

.grid-wrapper {
    display: flex;
    margin-bottom: 1rem;
    max-width: 100%;
    flex-wrap: nowrap;
}

.column-1-of-2 {
    -webkit-flex: 1 1 50%;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
}

.column-1-of-3 {
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

.column-1-of-4 {
    -webkit-flex: 1 1 25%;
    -ms-flex: 1 1 25%;
    flex: 0 1 25%;
}

.placeholder {
    display: block;
    width: 100%;
    border: 1px solid #102c34;
}


/* Color swatches */

.colour-swatch {
    display: inline-block;
    height: 4rem;
    width: 4rem;
    border: 1px solid #899da3;
}

#black {
    background-color: black;
}

#super-dark-grey {
    background-color: #102c34;
}

#mid-grey {
    background-color: #899da3;
}

#light-grey {
    background-color: #eaf1f7;
}

#white {
    background-color: white;
}

#dull-blue {
    background-color: #4B83AD;
}

#vivid-blue {
    background-color: #3057D5;
}


/* Citations styling */

#citations p {
    line-height: 2rem;
}


/* banner */

.main-banner {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    top: -5rem;
    margin: 0;
    padding: 0;
}

.main-banner .banner-text {
    position: absolute;
    display: block;
    top: 35%;
    max-width: 31rem;
    color: white;
    margin: 0 7rem 0 7rem;
    z-index: 3;
}

/*
.hero-text {
text-align: left;
color: white;
margin: 0 0 2rem 0;
}
*/

.main-banner .banner-text p {
    margin-top: 2rem;
}

.hero-bottom-text {
    position: absolute;
    bottom: 20%;
    right: 0;
    padding: 1rem;
    margin: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.mobile-hero-text {
    color: white;
    text-align: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    margin-top: -0.25rem;
}

#gaming-products h1,
#gaming-products p {
    text-align: center;
}

.home-hero-image {
    max-width: 100%;
}

#product-categories h2 {
    text-align: center;
}


/* homepage */

#carbon-difference img {
    width: 100%;
}

#carbon-difference .column-1-of-2:first-child {
    padding-right: 1rem;
    flex: 1 1 40%;
}

#carbon-difference .column-1-of-2:nth-child(2) {
    align-self: center;
    flex: 1 1 60%;
}

.header-underline {
    margin: 0 auto;
}

#carbon-difference .cta-button {
    margin-top: 1rem;
}

.systems-computer-img {
    max-width: 100%;
    height: auto;
    margin: 3rem 0 1rem 0;
}

#systems h4,
#systems p {
    text-align: center;
}

#systems .column-1-of-3 {
    border: 1px solid #eaf1f7;
}

#systems .column-1-of-3:not(:last-child) {
    margin-right: 0.5rem;
}

#systems p {
    margin: 1rem 0 1.5rem 0;
}

.panel-wrapper {
    position: relative;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
}

.clickable-panel {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
}

.no-interaction {
    padding: 2rem;
    z-index: 9;
    opacity: 1;
    transition: opacity 0.5s;
    background: white;
    height: 100%;
}

.no-interaction:hover {
    opacity: 0;
}

.hover-state {
    position: absolute;
    padding: 2rem;
    top: 0;
    left: 0;
    z-index: -3;
    color: white;
    height: 100%;
}

.hover-state h4 {
    color: white;
}

#systems .panel-hover-image {
    position: absolute;
    max-height: 100%;
    min-width: 100%;
    z-index: -3;
    top: 0;
    left: 0;
}

#latest-news .column-1-of-2:first-child {
    padding-right: 1rem;
    flex: 1 1 40%;
    margin-right: 3rem;
}

#latest-news .column-1-of-2:first-child p {
    text-align: right;
}

#latest-news .column-1-of-2:nth-child(2) {
    padding-right: 1rem;
    flex: 1 1 60%;
}

#latest-news .cta-button {
    display: block;
    width: 9rem;
    margin: 1rem auto 0;
}

#news2 {
    margin: 4rem 0;
}

#social-media .grid-wrapper {
    flex-direction: column;
    flex-wrap: wrap;
}

#social-media .column-1-of-2 {
    display: flex;
    flex: 1 1 50%;
}

.social-media-img-wrapper {
    display: block;
    position: relative;
    max-width: 11vw;
    max-height: 11vw;
    overflow: hidden;
}

.column-1-of-2 .social-media-img-wrapper:first-child {
    margin-right: 1rem;
}

.social-media-img-wrapper img {
    height: 100%;
}

.social-media-img-center-wrapper {
    max-width: 22vw;
    max-height: 22vw;
    overflow: hidden;
}

/* product listing page */

.banner-comp-img {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 1rem;
    margin: 5rem 4rem 0 0;
    width: 50%;
    height: auto;
}

#gaming-wrapper .content,
#work-wrapper .content,
#home-wrapper .content {
    margin: 3rem 15rem 0;
}

#gaming-wrapper .column-1-of-2,
#work-wrapper .column-1-of-2,
#home-wrapper .column-1-of-2 {
    margin-bottom: 2rem;
}

#gaming-wrapper .column-1-of-2:first-child,
#work-wrapper .column-1-of-2:first-child,
#home-wrapper .column-1-of-2:first-child {
    margin-right: 3rem;
}

#gaming-wrapper .panel-wrapper,
#work-wrapper .panel-wrapper,
#home-wrapper .panel-wrapper {
    border: 1px solid #eaf1f7;
    padding-bottom: 2rem;
}

.product-listing h4,
.product-listing p {
    text-align: center;
    margin: 0;
}

.rating {
    color: #3057D5;
}

.product-listing .price {
    margin-top: 2rem;
    font-size: 1.5625rem;
    font-weight: 200;
}

.product-page .main-banner h1,
.product-page .main-banner h2 {
    display: block;
    flex-wrap: wrap;
    width: fit-content;
    position: relative;
    margin: 0;
    top: 3rem;
    left: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
}

.product-page section:not(:first-child) {
    margin: 5rem 4rem;
}

.product-page h1,
.product-page h2,
.product-page p {
    text-align: center;
}

/* product page */

#product-wrapper #product-overview .column-1-of-2:first-child {
    margin-right: 2rem;
}

.product-copy p {
    text-align: left;
    margin: 2rem 4rem 2rem;
}

.product-view {
    max-width: 100%;
    max-height: 33rem;
}

.smaller-product-views {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.smaller-product-views img {
    display: flex;
    width: 20%;
    height: 20%;
    flex: 0 1 auto;
    border: 1px solid #eaf1f7;
}

.brief-product-info {
    display: block;
    position: relative;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}

.brief-product-info h3 {
    display: inline-block;
}

.brief-product-info h3:last-of-type {
    position: absolute;
    right: 0;
}

.brief-product-info .reviews {
    display: block;
    text-align: left;
}

.brief-product-info p {
    display: inline-block;
    margin: 0;
}

.brief-product-info p:first-child {
    margin-right: 1rem;
}

.accordion {
    margin-bottom: 3rem;
}

#product-categories-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    padding-left: 10rem;
    padding-right: 10rem;
}

#product-categories-container img {
    max-width: 50%;
}

.product-categories-featured {
    background-color: aliceblue;
    text-align: center;
}

.product-categories-featured img {
    max-width: 100%;
}

.product-categories-secondary {
    flex-direction: column;
    background-color: aliceblue;
    text-align: center;
}

.game-logo {
    width: 15%;
    height: 15%;
    flex: 0 1 auto;
}

.product-page-buttons {
    display: flex;
    justify-content: flex-end;
}

.key-point:first-of-type .column-1-of-2:first-of-type,
.key-point:last-of-type .column-1-of-2:first-of-type {
    margin-right: 2rem;
}

.key-point:nth-of-type(2) .column-1-of-2:last-of-type {
    margin-right: 2rem;
}

.key-point:first-of-type {
    margin-top: 3rem;
}

.key-point:nth-of-type(2) {
    flex-direction: row-reverse;
}

.key-point {
    align-items: center;
}

.key-point-img {
    width: 100%;
    height: 15rem;
    align-items: center;
}

#testimonial {
    text-align: center;
}

#testimonial .grid-wrapper h3 {
    font-size: 5rem;
    color: blue;
}

#review {
    margin-top: 3rem;
    font-size: 3rem;
}

#right-quotation {
    align-content: flex-end;
}

#testimonial .grid-wrapper {
    display: flex;
    margin-bottom: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
}

#testimonial .product-page-buttons {
    justify-content: center;
}

#testimonial .cta-button:nth-child(2) {
    padding: 0.5rem;
}

#testimonial .cta-button:first-child,
#testimonial .cta-button:nth-child(2) {
    margin-right: 1rem;
    align-self: center;
}

#testimonial .column-1-of-3 {
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

.key-point:first-of-type {
    margin-top: 3rem;
}

.key-point {
    margin-top: 5rem
}

.key-point-img {
    max-width: 100%;
    height: auto;
}

.key-point-content ul li {
    margin-top: 1rem;
}

#testimonial .product-page-buttons{
    justify-content: center;
}

#testimonial .cta-button{
    margin: 1rem;
}

/* purchase form */

.purchase-progress {
    display: block;
    position: relative;
    text-align: center;
    margin-bottom: 5rem;
    height: 100%;
    width: 100%;
}

.purchase-progress h4 {
    display: inline-block;
    font-weight: 100;
    color: #899da3;
}

.purchase-progress .progress-active {
    font-weight: bold;
    color: #102c34;
}

.progress-seperator {
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
}

.progress-seperator span {
    display: block;
    position: absolute;
    background: #899da3;
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0.1rem;
}

#purchase-form-ship-wrapper .grid-wrapper .column-1-of-3:not(:nth-child(3)) {
    flex: 1 1 90%;
    margin-right: 2rem;
}

#purchase-form-ship-wrapper .back {
    color: #899da3;
    border: 2px solid #899da3;
}

#purchase-form-ship-wrapper .back:hover:after {
    height: 0%;
}

.purchase-form .column-1-of-3:not(:nth-child(3)) {
    margin-right: 2rem;
}

.purchase-form .grid-wrapper {
    border: 1px solid #eaf1f7;
    padding: 2rem;
    margin: 1rem 0 2rem;
}

.purchase-form .input-field-label:first-child {
    margin-top: 0;
}

.clear {
    padding: 0;
}

.purchase-form .input-wrapper {
    display: flex;
}

.input-wrapper .column-1-of-3:nth-child(1) {
    text-align: left;
}

.input-wrapper .column-1-of-3:nth-child(2) {
    text-align: center;
}

.input-wrapper .column-1-of-3:last-child {
    text-align: right;
}

#purchase-form-pay-wrapper .purchase-form .column-1-of-3:not(:nth-child(2)) {
    flex: 1 1 60%;
}

#form-expiry,
#form-year {
    display: inline-block;
    width: auto;
}

.order-details {
    max-width: 100%;
}

.order-details .panel-wrapper {
    max-width: 50%;
    margin: 1rem auto;
    padding: 0 2.5rem 1.5rem;
    border: 1px solid #eaf1f7;
}

.order-details h4,
.order-details p {
    text-align: center;
}

.order-details p {
    margin: 1rem 0 3rem 0;
}

#purchase-form-confirm-wrapper .input-wrapper {
    display: block;
    text-align: center;
}

/*chat page*/

#chat-categories {}

#chat-copy h1,
#chat-categories p {
    text-align: center;
}

#chat-copy p {
    text-align: center;
    font-size: 1rem;
    font-style: italic;
}

#chat-categories h2 {
    text-align: center;
}

#chat-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

#chat-container img {
    max-width: 20%;
    margin-top: 1rem;
}

#live-chat,
#email,
#schedule-call {
    text-align: center;
}

#chat-options{
    margin-top: 0;
    text-align: center;
}

#chat-options h3{
    font-size: 1.5rem;
}

#chat-options img{
    max-width: 15%;
    height: auto;
}

#chat-options .no-interaction {
    padding: 2rem;
    z-index: 9;
    opacity: 1;
    transition: opacity 0.5s;
    background: white;
}

/* footer */

footer {
    position: relative;
    margin-top: 3rem;
    background-color: #3057D5;
}

footer nav,
footer nav ul {
    display: inline-flex;
    width: 100%;
    height: 4.5rem;
}

footer nav li {
    position: relative;
    font-size: 0.5rem;
    color: white;
    flex: 1 1 auto;
    text-align: center;
    align-self: flex-end;
    bottom: 1rem;
}

footer .button-nav {
    font-size: 0.5rem;
    color: white;
    display: none;
}

footer nav img {
    width: 1rem;
}

footer nav li:nth-child(4) {
    flex: 1 1 50%;
}

#mobile-nav {
    display: none;
}




@media (min-width: 1281px) {
    p,
    .in-text-link {
        font-size: 1rem;
    }
}

@media (max-width: 1095px) {
    .hero-bottom-text {
        bottom: 14%;
    }

    #gaming-wrapper .content,
    #work-wrapper .content,
    #home-wrapper .content {
        margin: 3rem 7rem 0;
    }
}

@media (max-width: 931px) {
    #form-expiry,
    #form-year {
        display: block;
        width: 100%;
    }

    #form-expiry {
        margin-bottom: 0.5rem;
    }
}

@media (max-width: 873px) {
    .main-banner .banner-text {
        top: 30%;
    }

    #carbon-difference .grid-wrapper,
    #systems .grid-wrapper,
    .purchase-form .grid-wrapper,
    #product-wrapper .grid-wrapper {
        flex-direction: column;
    }

    #carbon-difference .column-1-of-2:nth-child(2) {
        order: -1;
    }

    #carbon-difference .cta-button {
        display: block;
        max-width: 9rem;
        margin: 2rem auto;
    }

    #systems .column-1-of-3 {
        margin: 0 0 1rem 0;
    }

    #systems .column-1-of-3:not(:last-child) {
        margin-right: 0;
    }

    #latest-news .column-1-of-2:first-child {
        margin-right: 2rem;
    }

    #social-media .grid-wrapper {
        flex-direction: column;
    }

    #gaming-wrapper .column-1-of-2,
    #work-wrapper .column-1-of-2,
    #home-wrapper .column-1-of-2 {
        margin-bottom: 0;
    }

    #gaming-wrapper .column-1-of-2:first-child,
    #work-wrapper .column-1-of-2:first-child,
    #home-wrapper .column-1-of-2:first-child {
        margin-right: 1rem;
    }

    #product-wrapper .smaller-product-views {
        margin-bottom: 3rem;
    }

    .purchase-form .grid-wrapper {
        padding: 2rem;
    }

    .purchase-form .column-1-of-3 {
        width: 100%;
    }

    .purchase-form .column-1-of-3:not(:nth-child(3)) {
        margin-bottom: 1rem;
    }

    .input-wrapper .column-1-of-3,
    input-wrapper .column-1-of-3:last-child {
        text-align: center !important;
    }

    #form-expiry,
    #form-year {
        display: inline-block;
        max-width: 48%;
    }

}

@media (max-width: 767px) {
    .hero-text {
        margin: 0 0 1rem 0;
    }

    .main-banner .banner-text p {
        margin-top: 1rem;
    }

    .hero-bottom-text {
        bottom: 9%;
    }

    .key-point-img {
        margin-top: 2rem;
    }

    .purchase-form .cta-button,
    .cta-button input {
        min-width: 6rem;
    }
}

@media (max-width: 687px) {
    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 0.75rem;
    }

    #gaming-wrapper .grid-wrapper,
    #work-wrapper .grid-wrapper,
    #home-wrapper .grid-wrapper {
        flex-direction: column;
    }

    #gaming-wrapper .grid-wrapper,
    #work-wrapper .grid-wrapper,
    #home-wrapper .grid-wrapper {
        margin-bottom: 0;
    }

    #gaming-wrapper .column-1-of-2,
    #work-wrapper .column-1-of-2,
    #home-wrapper .column-1-of-2 {
        margin-bottom: 2rem;
    }

    #gaming-wrapper .column-1-of-2:first-child,
    #work-wrapper .column-1-of-2:first-child,
    #home-wrapper .column-1-of-2:first-child {
        margin-right: 0;
    }
}

@media (max-width: 620px) {
    .hero-bottom-text {
        bottom: 4%;
    }
}

@media (max-width: 582px) {
    .main-banner {
        height: 22rem;
        overflow: hidden;
    }

    .home-hero-image {
        display: block;
        max-height: 100%;
        max-width: none;
        overflow: hidden;
    }

    .main-banner .banner-text {
        margin: 0 2.5rem;
    }

    .banner-header-underline {
        width: 5rem;
        height: 0.15rem;
    }

    .jump-down-button {
        bottom: 5%;
        width: 1.75rem;
        height: 1.75rem;
        border: 1px solid white;
    }

    .banner-comp-img {
        width: 21rem;
        margin-right: 0;
        left: 0;
        right: 0;
        margin: 5rem auto;
    }

    section .content {
        margin: 1rem 2.5rem 0;
    }

    #gaming-wrapper .content,
    #work-wrapper .content,
    #home-wrapper .content {
        margin: 3rem 2.5rem 0;
    }
}

@media (max-width: 520px) {
    .hero-top-text,
    .hero-bottom-text {
        display: none;
    }

    .mobile-hero-text {
        display: block;
    }

    .purchase-form .column-1-of-3:not(:nth-child(3)) {
        margin-right: 0;
    }
}

@media (max-width:436px) {
    #testimonial .cta-button:nth-child(2) {
        padding: 0;
        line-height: 1.1;
    }
}

@media (max-width: 396px) {
    .main-banner .banner-text {
        top: 28%;
    }

    #form-expiry,
    #form-year {
        display: block;
        max-width: 100%;
    }
}

@media (max-width: 303px) {
    .main-banner .banner-text {
        top: 25%;
    }
}

@media only screen and (max-width:700px) {

    #mobile-nav {
        position: absolute;
        display: block;
        top: 0;
    }

    #menuToggle {
        display: block;
        position: relative;
        top: 50px;
        left: 50px;
        z-index: 10;
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        /*         hide this */
        z-index: 12;
        /* and place it over the hamburger */
    }

    /*
    * Just a quick hamburger
    */
    #menuToggle span {
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: white;
        border-radius: 3px;
        z-index: 10;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
            opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* 
    * Transform all the slices of hamburger
    * into a crossmark.
    */
    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /*
    * But let's hide the middle one.
    */
    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /*
    * Ohyeah and the last one should go the other direction
    */
    #menuToggle input:checked ~ span:nth-last-child(2) {
        transform: rotate(-45deg) translate(0, -1px);
    }

    /*
    * Make this absolute positioned
    * at the top left of the screen
    */
    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        background: #3057D5;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        /* to stop flickering of text in safari */
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /*
    * And let's slide it in from the left
    */
    #menuToggle input:checked ~ ul {
        transform: none;
    }
}


/*animated search*/

input {
    outline: none;
}

input[type=search] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button {
    display: none;
}

/*Search Bar Base*/

input[type=search] {
    background: transparent url(../img/icons/magnifying-glass-icon.svg) no-repeat 9px center;
    background-size: 50%;
    background-position: center;
    border: solid 1px #ccc;
    padding: 9px 10px 9px 32px;
    width: 55px;

    border-radius: 10em;
    transition: all .5s;
}

input[type=search]:focus {
    width: 130px;
    background-color: #fff;
    border-color: #3057D5;

    box-shadow: 0 0 5px rgba(109, 207, 246, .5);
}


/* Search Icon*/

#search-icon input[type=search] {
    width: 15px;
    padding-left: 10px;
    color: transparent;
    cursor: pointer;
    border-color: transparent;
}

#search-icon input[type=search]:hover {
    background-color: transparent;
    background: transparent url(../img/icons/magnifying-glass-icon-vividblue.svg) no-repeat 9px center;
    background-size: 50%;
    background-position: center;
}

#search-icon input[type=search]:focus {
    background: transparent url(../img/icons/magnifying-glass-icon-vividblue.svg) no-repeat 9px center;
    background-size: 10%;
    background-position: 5% 50%;
    width: 130px;
    padding-left: 32px;
    color: #000;
    background-color: white;
    cursor: auto;
}

.product-copy {
    text-align: center;
}

code span {
    display: block;
    height: 1rem;
}

.key-point:first-of-type {
    margin-top: 3rem;
}

.key-point {
    margin-top: 5rem
}

.key-point-img {
    max-width: 100%;
    height: auto;
}

.key-point-content ul li {
    margin-top: 1rem;
}


@media (max-width: 767px) {
    .ideal-for {
        margin-top: 5rem;
    }

    .key-point-img {
        margin-top: 2rem;
    }
}

#testimonial {
    text-align: center;
}

#testimonial .grid-wrapper h3 {
    font-size: 5rem;
    color: blue;
}

#review {
    margin-top: 3rem;
    font-size: 3rem;
}

#right-quotation {
    align-content: flex-end;
}

#testimonial .grid-wrapper {
    display: flex;
    margin-bottom: 1rem;
    max-width: 100%;
    flex-wrap: wrap;
}

#testimonial .product-page-buttons {
    justify-content: center;
}

#testimonial .cta-button {
    margin: 1rem;
}


#testimonial .column-1-of-3 {
    -webkit-flex: 1 1 30%;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

#chat-options {
    margin-top: 0;
    text-align: center;
}

#chat-options h3 {
    font-size: 1.5rem;
}

#chat-options img {
    max-width: 15%;
    height: auto;
}


#chat-options .no-interaction {
    padding: 2rem;
    z-index: 9;
    opacity: 1;
    transition: opacity 0.5s;
    background: white;
}

#chat-options .grid-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media (max-width:700px) {
    #chat-options .grid-wrapper {
        flex-direction: column;
    }

}